* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav_bar {
  background-color: #232323;
  overflow: hidden;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  color: white;
}

.main_logo{
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  font-size: 22px;
  border: 5px solid;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}


.side_bar {
  float: right;
  margin: 0;
  padding: 0;
  /* line-height: normal; */
  vertical-align: middle;
  display: inline-block;
}

.side_bar li {
  font-size: 22px;
  float: left;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
